body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}

table#container {
  width: 100%;
  table-layout: fixed;
}

table#container > tbody > tr > td {
  vertical-align: top;
  padding: 10px;
}

td#activities {
  width: 300px;
}

td#activities td {
  vertical-align: top;
  border-bottom: 1px solid #eee;
  padding: 2px;
}

td#activities date {
  font-size: 12px;
  color: #999;
}

td#diff {
  background: #eee;
  border-left: 3px solid #ddd;
}

tr.added td {
  background-color: #D4FDCB;
}

td.improved {
  background-color: #A9EF8D;
}

td.worse {
  background-color: #F57A82;
}

table.segments th {
  text-align: left;
  color: #666;
  font-weight: normal;
  font-size: 12px;
  border-bottom: 1px solid #ccc;
}

table.segments td {
  padding: 2px 10px;
  border-bottom: 1px solid #ccc;
}

table.segments td:first-child {
  padding-left: 0;
}

table.segments td:last-child {
  padding-right: 0;
}

table.segments th.num, td.num {
  text-align: right;
}

td.num {
  font-family: monospace;
}
